<p>charts works!</p>
<div
  echarts
  [options]="options"
  class="demo-chart"
  (chartInit)="onChartEvent($event, 'chartInit')"
  (chartClick)="onChartEvent($event, 'chartClick')"
  (chartDblClick)="onChartEvent($event, 'chartDblClick')"
  (chartMouseDown)="onChartEvent($event, 'chartMouseDown')"
  (chartMouseUp)="onChartEvent($event, 'chartMouseUp')"
  (chartMouseOver)="onChartEvent($event, 'chartMouseOver')"
  (chartMouseOut)="onChartEvent($event, 'chartMouseOut')"
  (chartGlobalOut)="onChartEvent($event, 'chartGlobalOut')"
  (chartContextMenu)="onChartEvent($event, 'chartContextMenu')"
  (chartDataZoom)="onChartEvent($event, 'chartDataZoom')"></div>

  <!-- <iframe title="Seguimiento Proyecto KIPA LATAM" width="1140" height="541.25" src="https://app.fabric.microsoft.com/reportEmbed?reportId=47131cb9-8740-4e6d-b385-215417cf20b9&autoAuth=true&ctid=18246c11-9d0b-4b53-bb3e-473e0c7064a3" frameborder="0" allowFullScreen="true"></iframe> -->
 
  